body{
    background-color:white;
    color:black;

}

#outerbox{
    color:whitesmoke;
    background-color:#CE1126;
    padding-bottom:45px;
    width:300px;
    text-align:center;
    
}

#innerbox{
    background-color:#002868;

}

.circle p{
    color:black;
    background-color: white;
    border-radius: 50%;
    display: inline-block;

}
