body {
    background-color:white;
    color:black
}

p[red] {
    color:red;
}

p[blue] {
    color:blue;
}

p[orange] {
    color:orange;
}

p[green] {
    color:green;
}

p[yellow] {
    color:yellow;
}
