body {
    color:white;  
    
}

.outer-box {
    background-color: rgb(43, 6, 4);
    width: 1000px;
    height: 600px;
    position: relative;

}

.box1 {
    background-color: rgb(154, 133, 53);
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.box2 {
    background-color: rgba(241, 218, 115, 0.788);
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.box3 {
    background-color: rgb(137, 222, 133);
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.inner-box {
    background-color: rgb(119, 171, 239);
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
