.section-heading {
    display:flex;
    flex-wrap:wrap;
    place-content:center;
    gap:150px;
    background-color: rgb(246, 176, 187);
    color: black;
    height: 500px;

}

.section-features {
    display:flex;
    flex-wrap:wrap;
    place-content:center;
    gap:50px;
    color: black;
    height: 200px;

}

.section-review {
    font-family:"La Belle Aurore", cursive;;
    font-size:50px; 
    background-color:rgba(243, 243, 243, 0.799); 
    height:200px;
}

.heading-part {
    text-align:center;

}

.section-pricing {
    display:flex;
    flex-wrap:wrap;
    place-content:center;
    gap:50px;
    color:black;
    height:350px;
    bottom: 1px;
    
}

.section-footer {
    display:flex;
    flex-wrap:wrap;
    place-content:center;
    gap:600px;
    background-color: rgba(255, 184, 184, 0.799);
    color: black;
    height: 300px;
    
}
